@font-face {
    font-family: 'angellaWhite';
    src: url('./assets/fonts/angella_white/angellaWhite.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

html {
    font-family: "Satisfy";
}
* {
    font-family: "Satisfy";

}